.home {
  min-height: calc(100vh - 150px);
  &__container {
    grid-template-columns: 1fr;
    // margin-bottom: 130px;
  }
  &__public {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
}
