.notFound{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    h1{
        font-size: 2.5rem;
        font-weight: bold;
    }
    p{
        font-size: 1.5rem;
    }
    // &::before {    
    //     content: "";
    //     background:  url('../../images/example-22.svg')  no-repeat ;
    //     background-size: cover;background-position: center;
    //     position: absolute;
    //     top: 0px;
    //     right: 0px;
    //     bottom: 0px;
    //     left: 0px;
    //     opacity: 0.4;
    // }
}

