
@font-face {
    font-family: "bahijbold";
    font-style: normal;
    src: url("../../../../public/fonts/bahij_helvetica_neue_bold_by_bahijvirtualacademy_dammcmt.ttf")format("truetype");
}
@font-face {
    font-family: "bahij";
    font-style: normal;
    src: url("../../../../public/fonts/bahij_helvetica_neue_light_by_bahijvirtualacademy_dammcxa.ttf") format("truetype");
}
@font-face {
    font-family: "bahijroman";
    font-style: normal;
    src: url("../../../../public/fonts/bahij_helvetica_neue_roman_by_bahijvirtualacademy_dammd50.ttf") format("truetype");
}