$bg_container : #fafafa;
$bg_tags:#eef2f3;
$primary_text_color : #28394f;
$second_text_color:#5a5a5a;
$placeholder_color: #b8c1cd;
$small_text : rgba(40, 57, 79, 0.5);
$btn_color : #139eca;
$border_Color_blue: rgba(19, 158, 202, 0.3);
$border_Color_dark :rgba(0, 0, 0, 0.15);
$back_hover : #eef2f3;
$back_svg : #29becc;
$caret_color:#339cbf;

$blue-grey: #56838a;
$warm-grey: #808080;

$bg_btn_color: #30bfb7;

$bg_footer :  rgb(24, 30, 46);


$fontFamily:(
    'ff-primary' : 'bahij',
    'ff-primary-bold' : 'bahijbold',
    'ff-primary-roman' : 'bahijroman'
)



